
body {
    margin: 0;
    
    background-color:  rgba(186, 186, 186, 0.25);
  }
  
  *{
    box-sizing: border-box;
    cursor: default;
  }
  
  a, a:visited, a:link {
    text-decoration: none;
    color: inherit;
  }